[FILEPATHS]
data_folder = /home/marcel/data/projects/msc_fine_grained/240710/
data_set = data.gz
keywords_allowed = kw_allow_list.gz
lemmatizer = lemma.gz
map = map.gz
stopwords_denied = stopwords.gz

[API]
root_path =


[ELASTIC]
es_host = <host name of elastic search index>
es_port = <port of host>
es_api_key = <api key with reading credentials>
ca_certs = <location on disk to certificate>
index_name = zbmath_live_documents